@tailwind base;
@tailwind components;
@tailwind utilities;

.video-react .video-react-video {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}
.video-react-controls-enabled  {
  padding-top: 25% !important;
}
